*.code-workspace
*.pyc
*.pyo
.*.sw?
.DS_Store
.nextflow*
.nf-test/
.nf-test.log
.screenrc
__pycache__
output/
results/
test.tap
test_output/
tests/data/
work/

/docs/modules/
/docs/subworkflows/
/_freeze/
/_site/
/.quarto/
.Rproj.user
*.Rproj
.Rbuildignore
