includeConfig '../../../../tests/test-data.config'

process {

    withName: STAR_GENOMEGENERATE {
        ext.args = '--genomeSAindexNbases 9 --sjdbGTFfeatureExon gene --sjdbOverhang 99'
    }

    withName: FUSION_ARRIBA {
        ext.args_STAR = '--sjdbGTFfeatureExon CDS'
        ext.prefix = { "${meta.id}.p2.arriba" }
    }

}
