params {
    //test_data_base = 'https://raw.githubusercontent.com/CCBR/nf-modules/filter-blacklist-subwf/'
    test_data_base = "/Users/sovacoolkl/projects/CCBR/nf-modules"

    test_data {
        test_1_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
        test_2_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
        test_1_subset_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.subset.fastq.gz"
        test_2_subset_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_2.subset.fastq.gz"
    }
}
