process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

includeConfig '../../../../config/test_data_CCBR.config'

params {
    test_data_base = 'https://raw.githubusercontent.com/CCBR/nf-modules/sicer/' // todo switch back to main branch after merge
}
